.header{
    grid-area: header;
    padding: 1.2rem;
    text-align: left;
    align-items: center;
    
    h1{
      text-align: left;
      font-family: 'Syncopate', sans-serif;
      margin: 10px;
      padding: 10px;
      font-size: 5vh;
      
  
    }
  
  
    ul{
      list-style: none;
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: #000000;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: large;
      flex-direction: row;
      
      a{
          text-decoration: none;
          color: rgb(217, 214, 214);
          font-weight: bold;
          display: block;
          margin: 5px;
          padding: 5px;
          
          li a:hover{
              color: #ffffff;
              font-weight: bold;
          }
  
          }
      }
  
    }